<app-header-component></app-header-component>

<section class="contentWrapper demo-content__wrapper m-t">
  <app-page-header-component></app-page-header-component>
  <router-outlet></router-outlet>
</section>

<!-- <footer id="raul-footer" class="raul-footer">
  <section class="container-fluid py-3">
    <address class="raul-footer-address">RealPage, Inc.<br>2201 Lakeside Blvd<br>Richardson,&nbsp;TX&nbsp;75082</address>
    <p itemprop="telephone"><a class="raul-footer-phone" href="tel:1.877.325.7243">1.877.325.7243</a></p>
    <div class="raul-footer-social"><i class="fa fa-facebook mx-2"></i><i class="fa fa-twitter mx-2"></i><i class="fa fa-linkedin mx-2"></i><i class="fa fa-youtube mx-2"></i>
      <i class="fa fa-google-plus mx-2"></i>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <p class="raul-footer-copyright">© Copyright 1998-2017&nbsp;<a class="raul-footer-link" href="#" target="_blank">All Rights Reserved</a></p>
      </div>
      <div class="col-sm-5 raul-footer-nav"><a class="raul-footer-link" href="#" target="_blank">Terms of Use</a><span class="mx-2">|</span><a class="raul-footer-link"
          href="https://www.realpage.com/privacy-policy/" target="_blank">Private Policy</a><span class="mx-2">|</span><a class="raul-footer-link"
          href="https://www.realpage.com/privacy-shield/" target="_blank">Privacy Shield</a><span class="mx-2">|</span><a class="raul-footer-link"
          href="https://www.realpage.com/dmca-notice/" target="_blank">DMCA Notice</a></div>
    </div>
  </section>
</footer> -->
